:root{
  --pri:#ffffff;
  --sec:#4e2d23;
  --tri1: #FEBA17;
  --tri2:#B4846C;
}

@font-face{
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik ;
  color: var(--pri);
}
html,
body {
  height: 100%;
  width: 100%;
  
}

#main{
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}

nav{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}

section.allElems{
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
}

.elem{
  background-color: #FEBA17;
  border-radius: 20px;
  height: 400px;
  width:289px;
  font-size: 10px;
  overflow: hidden;
  transition: all ease 0.23s;
  position: relative;
  cursor: pointer;
}

.elem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2{
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-weight: 500;
  font-size: 28px;
}

.elem:active{
  scale: 0.97;
}

.fullElem{
  background-color: var(--sec);
  height: 100%;
  width: 100%;
  padding: 30px;
  display: none;
  position: absolute;
}


.back{
  position:absolute;
  right: 5%;
  background-color: var(--tri1);
  border: none;
  padding: 10px 11px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  transition: all ease 0.10s;
  cursor: pointer;
}
.back:active{
  scale: 0.90;
}

.todo-list-fullPage{
  display: block;
  
}

.todo-list-fullPage h2{
  margin-top: 30px;
  font-size: 60px;
}

.todo-list-fullPage .todo-Container{
  height: 83%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullPage .todo-Container .addTask{
  height: 100%;
  width: 36%;
  background-color: var(--tri2);
  border-radius: 10px;
}


.todo-list-fullPage .todo-Container .addTask form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.todo-list-fullPage .todo-Container .addTask #text-input{
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--sec);
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.todo-Container .addTask button{
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 700;
  background-color: #455B65;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  transition: all ease 0.20;
}
.todo-Container .addTask button:active{
  scale: 0.97;
}



.todo-list-fullPage .todo-Container .allTask{
  height: 100%;
  width: 62%;
  border-radius: 10px;
  background-color: var(--tri2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  overflow: auto;
}
.task{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: var(--pri);
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.task p{
  color: black;
  padding: 4px 8px;
  background-color: rgb(221, 216, 216);
  font-size: 13px;
  margin-top: 3px;
  border-radius: 100px;
}
.task .details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task h5{
  color: var(--sec);
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.task h5 span{
  background-color: red;
  padding: 3px  5px;
  border-radius: 100px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
.task h5 span.true{
  opacity: 1;
}
.task h5 span.false{
  opacity: 0;
}


.task button{
  background-color: #2F8D46;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.task button:active{
  scale: 0.97;
}

.addTask .mark-imp{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 10px 20px;
}

.addTask .mark-imp input{
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
/* .addTask .mark-imp input[type="checkbox"].red:checked {
  accent-color: red;
} */

.addTask .mark-imp label{
  font-family: aeonik;
  font-size: 20px;
  font-weight: 600;
}

