* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 10px;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(193, 189, 189);
    align-items: center;
    padding: 5px;
    border-radius: 3px;
}

.point{
    display: flex;
    gap: 50px;
}

p{
    font-size: 1.1rem;
    font-weight: 500;
}