* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: gray;
}

.box{
    height: 300px;
    width: 300px;
    background-color: hotpink;
    border-radius: 50%;
    border: solid white 4px;
}
button{
    padding: 0.2rem 0.8rem;
}

