* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: gray;
}

/* .box{
    height: 300px;
    width: 300px;
    background-color: hotpink;
    border-radius: 50%;
    border: solid white 4px;
}
button{
    padding: 0.2rem 0.8rem;
} */


.box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    background-color: lightseagreen;
    color: white;
    border: none;
    padding: 0.9rem 1.3rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}
h2{
    font-size: 5rem;
}
h1{
    font-size: 3rem;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}