*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #FFFFFF;
}

main{
    width: 100%;
    padding: 1.4rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    

    .view-1{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        
        
       
        img{
            width: 100%;
            object-fit: cover;
        }
        

        .head-bottom{
            display: flex;
            justify-content: space-between;

            p{
                text-transform: uppercase;
                font-family: monospace;
                font-size: 1rem;
                font-weight: 300;
            }
        }
    }

    .image-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .top{
            width: 100%;
            aspect-ratio: 1/1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .bottom{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1em;

            h1{
                font-size: 2.6rem;
                font-weight: 100;
                text-transform: uppercase;
            }

            p{
                font-family: monospace;
                font-size: 1.3rem;
                line-height: 1.3;
                font-weight: 200;
                opacity: 0.9;
            }


            .services{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 1rem 0;
                gap: 0.7rem;

                .service{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                    p{
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        text-transform: uppercase;
                        font-size: 1.9rem;
                        font-weight: 400;
                    }
                }
            }
        }


    }











}

